.cache
.vscode
build
dist
examples/Surfaces/.ipynb_checkpoints
examples/Bulk/.ipynb_checkpoints
examples/Untitled.ipynb
surfinpy.egg-info
surfinpy/__pycache__
surfinpy/tests/__pycache__
docs/build
paper/latex
.DS_Store
ToDo.md